/*==========================================================
	1 PAGER STYLE
==========================================================*/
body{
	background-color: #364660;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top; 
	text-align: left;
	font-family:"Lato";
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	color: #3b4d6a;
	line-height:150%;
}

h1{
	font-family:"Lato";
	font-weight: 100;
	color: #f7f7f7;
	text-align: center;
	letter-spacing:2px;
}
h2{
	font-family:"Lato";
	font-size: 18px;
	font-weight: 300;
	color: #afbacc;
	text-align: center;
	padding: 9px 0px 0px 0px;
	letter-spacing:1px
}
h3{
	font-family:"Lato";
	font-size: 14px;
	font-weight: 300;
	color: #afbacc;
	text-align: left;
	line-height:150%;
}
h4{
	font-family:"Lato";
	font-size: 32px;
	font-weight: 900;
	color: #b80c0c;
	text-align: center;
	line-height:150%;
}
h5{
	font-family:"Lato";
	font-size: 20px;
	font-weight: 300;
	color: #b80c0c;
	text-align: center;
	padding: 20px;
	letter-spacing:2px;
}

p {
	margin: 0 0 15px 0;
}

.credit-line {
	font-style: italic;
}

@media (max-width: 480px) { 
	
	.wrapper {
		width: 350px;
		height: auto;
		margin: 0 auto;
	}

	h1{
		font-size: 50px;
		padding: 12px 0px 16px 0px;
	}

	ul.tag-line {
		font-size: 21px;
		letter-spacing: 1px
	}

	ul.footer li {
		padding: 0;
	}

	ul.tag-line li {
		padding: 0;
	}

	.span5, .span2 {
		padding: 0 20px;
	}

	.btn-medium {
		margin-bottom: 50px;
	}

	ul.footer {
		width: 202px;
	}

}

@media (min-width: 481px) { 

	.wrapper {
		width: 692px;
		height: auto;
		margin: 0 auto;
	}

	h1{
		font-size: 100px;
		padding: 34px 0px 40px 0px;
	}

	ul.tag-line {
		font-size: 20px;
		letter-spacing: 2px
	}

	ul.footer li {
		padding: 0 9px;
	}

	ul.tag-line li {
		padding: 0 9px;
	}

	ul.footer {
		width: 447px;
	}

}

ul.footer {
	margin: 0 auto;
	letter-spacing:.3px;
}

ul.footer li {
	float: left;
}

ul.tag-line {
	font-family:"Lato";
	font-weight: 100;
	color: #f7f7f7;
	padding-bottom: 25px;
}

ul.tag-line li {
	float: left;
}

.sponsors {
	margin-top: 25px;
}

.sponsors li {
	float: left;
	margin-right: 25px;
	margin-bottom: 35px;
}

.color-line {
	clear: both;
}

.top_line {
	width: auto;
	height: 4px;
	background-color: #7d8fac;
}

.top_block {
	width: auto;
	background-color: #364660;
	color: #f7f7f7;
	padding: 20px 0;
}

.text_block_wide {
	margin-left:auto;
	margin-right:auto;
	width: 460px;
	margin-top: 55px;
	margin-bottom: 55px;
	background-color: #364660;
}

.colored_line_a {width: 20%; height: 4px; display: inline-block; background-color: #ffcf55;}
.colored_line_b {width: 20%; height: 4px; display: inline-block; background-color: #faad25;}
.colored_line_c {width: 20%; height: 4px; display: inline-block; background-color: #fc7a17;}
.colored_line_d {width: 20%; height: 4px; display: inline-block; background-color: #9ecfc5;}
.colored_line_e {width: 20%; height: 4px; display: inline-block; background-color: #b84a0c;}

.mid_block {
	padding-bottom: 50px;
	padding-top: 40px;
	background-color: #f7f7f7;
}

.white_block {
	width: auto;
	padding: 45px 20px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 25px;
	color: #364660;
	background-color: #f7f7f7;
	-webkit-box-shadow:  0px 5px 20px 0px rgba(0, 0, 0, .5);
	box-shadow:  0px 5px 20px 0px rgba(0, 0, 0, .5);
}

.blue_block {
	width: auto;
	padding: 45px 20px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom: 25px;
	color: #f7f7f7;
	background-color: #364660;
	-webkit-box-shadow:  0px 5px 20px 0px rgba(0, 0, 0, .5);
	box-shadow:  0px 5px 20px 0px rgba(0, 0, 0, .5);
}

.blue_block h4 {
	font-family:"Lato";
	font-size: 30px;
	font-weight: 900;
	color: #f7f7f7;
	text-align: left;
	letter-spacing:2px;
	line-height: 35px;
}

.blue_block a, .footer a {
	color: #f7f7f7;
}

.blue_block p {
	margin-top: 10px;
	letter-spacing:.3px;
	line-height: 25px;
}

.img_block {
	width: auto;
	padding: 80px 0px;
	background-image: url("../img/img_con.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.fields_block {
	margin-left:auto;
	margin-right:auto;
	width: 360px;
	padding-bottom: 25px;
	background-color: #364660;
	-webkit-box-shadow:  0px 5px 20px 0px rgba(0, 0, 0, .5);
	box-shadow:  0px 5px 20px 0px rgba(0, 0, 0, .5);
}

.submit-wrapper {
	width: 241px;
	margin: 25px auto 0 auto;
}

.btn-medium {
	padding: 15px 25px;
}

.btn {
	color: #f7f7f7;
	font-family:"Lato";
	letter-spacing:.3px;
	font-weight: 900;
	font-size: 24px;
	background-image: linear-gradient(to bottom,#faad25,#fc7a17);
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	background-color: #fc7a17;
	color: #f7f7f7;
}

.sale-banner {
	line-height: 90px;
	padding-top: 0px;
	font-size: 85px;
}

/*Google form styles*/

.google-form {
	background-color: #f7f7f7;
}

.form-horizontal {
	margin-top: 25px;
	padding-left: 30px;
}

label {
	font-weight: 900;
}

input {
	height: 35px !important;
	width: 400px;
	margin-left: 30px;
}

textarea {
	width: 400px;
	margin-left: 30px;
}

.control-label {
	width: 190px !important;
}

.ss-navigate {
	text-align: center;
	padding-right: 40px;
}

.ss-password-warning {
	margin-top: 15px;
}

.btn-large {
	padding: 30px 60px;
	margin-top: 25px;
}

.btn-primary {
	color: #f7f7f7;
	font-family:"Lato";
	letter-spacing:.3px;
	line-height: 25px;
	font-weight: 900;
	font-size: 44px;
	background-image: linear-gradient(to bottom,#526a91,#364660);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
	background-color: #364660;
}

.thank-you {
	background-color: #f7f7f7;
}
