<div class="mid_block">
	<div class="container">
		<div class="row">
			<div class="offset1 span10">
		    	<h4>Code of Conduct</h4>
		    	<p>self.conference is a developer community conference intended to create opportunities for education, collaboration and networking. In the interest of creating a safe, enjoyable and fulfilling experiences for all concerned, attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events.</p> 

				<p>All attendees, speakers, sponsors, organizers and volunteers at self.conference events are required to abide by the following Code of Conduct. Organizers will enforce this code throughout the event.</p>

				<h5>The Short Version</h5>
				<p>self.conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form.</p>

				<h5>The Longer Version</h5>
				<p>Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

				<p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

				<p>If a participant engages in behavior that violates this code of conduct, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

				<h5>Contact Information</h5>
				<p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a self.conference staff member or volunteer immediately.</p>

				<p>You may also contact any volunteer and ask to be put in touch with the conference chairs, Amber Conville & Erika Carlson.<p>

				<p>If the matter is especially urgent, please contact conference co-chair Erika Carlson at (313) 473-7560.</p>

				<p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

				<p class="credit-line">Adapted from <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy</a></p>
			</div>
		</div>
	</div>
</div>

<div class="color-line">
	<div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
</div>
  