<div class="mid_block">
    <div class="container">
        <div class="row">
            <div class="offset1 span10">
                <h4>In the meantime</h4>

                <p>You can visit <a href="/2014">last year's site</a>, see
                  <a href="https://github.com/Selfconference/selfconf-2014">slides
                  and resources</a> from last year's presenters, or
                  <a href="http://www.infoq.com/selfconference-2014">watch the
                  videos</a> from last year, provided by <a href="http://bit.ly/1mR2RIJ">InfoQ</a>!</p>
            </div>
        </div>
    </div>
</div>
