<div class="mid_block">
    <div class="container">
        <div class="row">
            <div class="offset1 span10">
                <h4>In the meantime</h4>

                <p>You can visit <a href="/2014">last year's site</a>, see
                  <a href="https://github.com/Selfconference/selfconf-2014">slides
                  and resources</a> from last year's presenters,
                  <a href="http://www.infoq.com/selfconference-2014">watch the
                  videos</a> from last year, provided by <a href="http://bit.ly/1mR2RIJ">InfoQ</a>,
                  or keep an eye out for <a href="/mobile">mobile.self</a>, coming in
                  February of 2015!</p>
            </div>
        </div>
    </div>
</div>

<section id="organizers">
    <div class="color-line">
        <div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
    </div>

    <div class="blue_header">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h1>ORGANIZERS</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="blue_block">
        <div class="container">
            <div class="row">
                <div class="offset1 span5">
                    <img src="../img/amber.jpg" class="img-polaroid img-rounded speaker-img pull-left">
                    <h4>Amber Conville</h4>

                    <p>Amber Conville is a developer at <a href="http://testdouble.com">Test Double</a>, and has been a software developer for 6 years. She loves code in lots of languages, tdd, craftsmanship, and the software community, and can be found helping out with user groups, conferences, and nerd gatherings whenever possible.</p>

                    <p>Want to email Amber? Do it: <a href="mailto:amber@selfconference.org">amber@selfconference.org</a>. Or say hi on twitter: <a href="http://twitter.com/crebma">@crebma</a></p>
                </div>

                <div class="span5">
                    <img src="../img/erika.jpg" class="img-polaroid img-rounded speaker-img pull-left">
                    <h4>Erika Carlson</h4>

                    <p>Erika Carlson was studying clinical psychology in 2011, when she wrote her first line of Python code. She fell in love with programming, decided to change paths, and is now a software developer at <a href="http://detroitlabs.com">Detroit Labs</a>. She is deeply passionate about creating a community of female peers and mentors for women exploring the field of technology for the first time.</p>

                    <p>Erika teaches web development and gives introductory programming presentations at elementary and middle schools. She is passionate about the potential of technology to create positive change in the world, and is working to create more opportunities for technology education in Detroit.</p>

                    <p>Want to email Erika? Do it: <a href="mailto:erika@selfconference.org">erika@selfconference.org</a>. Or say hi on twitter: <a href="http://twitter.com/eacarlson">@eacarlson</a></p>
                </div>
              </div>

              <div class="row">
                <div class="offset1 span5">
                    <img src="../img/chelsey.jpg" class="img-polaroid img-rounded speaker-img pull-left">
                    <h4>Chelsey Baker</h4>

                    <p>Chelsey has been programming professionally since 2012 when she graduated from the University of Michigan-Dearborn, focusing on iOS since 2013. She loves Michigan football, Mexican food, and working out daily as much as a the satisfaction of well written, properly formatted, code.</p>

                    <p>Want to email Chelsey? Do it: <a href="mailto:chelsey@selfconference.org">chelsey@selfconference.org</a>. Or say hi on twitter: <a href="http://twitter.com/_chelseybaker">@_chelseybaker</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
