<div class="mid_block">
    <div class="container">
        <div class="row">
            <div class="offset1 span5">
                <h4>What's this all about?</h4>

                <p>Self.conference combines killer tech presentations with insightful soft talks to give you a
                    Detroit-based conference worth your while. We're packing two days at the end of May with
                    mobile, web, hardware, software, process, and team talks to help you expand your knowledge,
                    meet other technically-minded folk, and immerse yourself in Detroit's tech renaissance. You
                    can take a deep dive into Objective-C with <a href="/speakers#Jeff-Kelley2">Jeff Kelley</a>,
                    learn about visualizing big data using D3.JS with <a href="/speakers#Matt-Shwery">Matt Shwery</a>,
                    hone your people skills with <a href="/speakers#Angela-Harms">Angela Harms</a>, and even learn
                    about the Allegory of the Cave from <a href="/speakers#Leon-Gersing">Leon Gersing</a>. It's all
                    happening at this year's self.conference!</p>
            </div>

            <div class="span5">
                <h4>Schedule Posted</h4>

                <p>We've posted the <a href="schedule">schedule</a> for Self.conference this year!</p>
            </div>
        </div>
    </div>
</div>

<section id="keynote">
    <div class="color-line">
        <div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
    </div>

    <div class="blue_header">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h1>KEYNOTE</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="blue_block">
        <div class="container">
            <div class="row keynote">
                <div class="offset1 span5">
                    <h4>Careful with those People Skills: You'll Poke Somebody's Eye Out!</h4>

                    <p>"People skills" are offered up as a way to get along with people better, to get them to do what you
                        want, and to generally make your life easier. But often, a simple technique can backfire and produce
                        the opposite response. How do you know you're doing it right? Why do people get mad when you give
                        your feedback exactly like the book says to do it?</p>

                    <p>Lao Tzu said "The world is won by those who let it go." Giving up the steps and practices -- focusing
                        instead on the underlying ideas and values -- can guide you to better relationships and better
                        collaboration. Dig deep and learn how empathetic listening, authentic connection, and embodying
                        compassion can fit naturally into your life and your work.</p>
                </div>

                <div class="span5">
                    <img src="img/speakers/angela.jpg" class="img-polaroid img-rounded speaker-img pull-left">

                    <h4>Angela Harms</h4>

                    <p>Angela Harms is an agile developer, coach, facilitator, and instigator. She loves beautiful code that
                        emerges from collaboration, and learning new ways to make it work. When she’s not pairing on tests
                        and the code they inspire, you can find her at conferences speaking about what she’s learned (so
                        far), facilitating kick-ass retrospectives, or discussing the intersection of software and love in
                        open space.</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="location">
    <div class="color-line">
        <div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
    </div>

    <div class="blue_header">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h1>LOCATION</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="mid_block">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h4>Cobo Center</h4>

                    <p>Cobo Center is one of the largest convention centers in the nation. Built by the City of Detroit, it
                        was originally opened in 1960 and named Cobo Hall in honor of former Detroit Mayor Albert E. Cobo
                        (1950-1957).</p>
                    <iframe width="100%" height="450" frameborder="0" style="border:0"
                            src="https://www.google.com/maps/embed/v1/place?q=Cobo%20Center%2C%20Washington%20Boulevard%2C%20Detroit%2C%20MI%2C%20United%20States&key=AIzaSyDruybwInm53V7uYRAnx1Z6fakBslb2O5c"></iframe>
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="offset1 span10">
                    <h4>Nearby Hotels</h4>

                    <p>Looking for a place to stay? There are several hotels near Cobo Center. Here are a few:</p>
                </div>
            </div>

            <div class="row">
                <div class="offset1 span5">
                    <ul class="hotels">
                        <li>
                            <a href="http://www.ihg.com/crowneplaza/hotels/us/en/detroit/dttnd/hoteldetail">
                                <img src="../img/hotels/crowne-plaza.jpg" class="pull-left img-rounded">
                                <h5>Crowne Plaza Pontchartrain Detroit Convention Center Hotel</h5>
                            </a>

                            <p>2 Washington Blvd.</p>
                        </li>
                        <li>
                            <a href="http://www.ihg.com/holidayinnexpress/hotels/us/en/detroit/dttwb/hoteldetail">
                                <img src="../img/hotels/holiday-inn.jpg" class="pull-left img-rounded">
                                <h5>Holiday Inn Express & Suites Detroit Downtown</h5>
                            </a>

                            <p>1020 Washington Blvd.</p>
                        </li>
                        <li>
                            <a href="http://doubletree3.hilton.com/en/hotels/michigan/doubletree-suites-by-hilton-hotel-detroit-downtown-fort-shelby-DTTLFDT/index.html">
                                <img src="../img/hotels/doubletree.jpg" class="pull-left img-rounded">
                                <h5>DoubleTree Suites by Hilton Detroit Downtown</h5>
                            </a>

                            <p>525 W. Lafayette</p>
                        </li>
                    </ul>
                </div>

                <div class="span5">
                    <ul class="hotels">
                        <li>
                            <a href="http://www.bookcadillacwestin.com/">
                                <img src="../img/hotels/book-cadillac.jpg" class="pull-left img-rounded">
                                <h5>The Westin Book Cadillac Detroit</h5>
                            </a>

                            <p>1114 Washington Blvd.</p>
                        </li>
                        <li>
                            <a href="http://www.marriott.com/hotels/travel/dtwdt-detroit-marriott-at-the-renaissance-center">
                                <img src="../img/hotels/marriott-ren-cen.jpg" class="pull-left img-rounded">
                                <h5>Detroit Marriott at the Renaissance Center</h5>
                            </a>

                            <p>400 Renaissance Center</p>
                        </li>
                        <li>
                            <a href="http://www.marriott.com/hotels/travel/dtwdc-courtyard-detroit-downtown/">
                                <img src="../img/hotels/courtyard-marriott.jpg" class="pull-left img-rounded">
                                <h5>Courtyard by Marriott – Detroit Downtown</h5>
                            </a>

                            <p>333 E. Jefferson Ave.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="register">
    <div class="color-line">
        <div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
    </div>

    <div class="blue_header">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h1>REGISTER</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="blue_block">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <div style="width:100%; text-align:left;">
                        <iframe src="https://www.eventbrite.com/tickets-external?eid=10727900439&ref=etckt"
                                frameborder="0" height="425" width="100%" vspace="0" hspace="0" scrolling="auto" allowtransparency="true"></iframe>
                        <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;">
                            <a style="color:#ddd; text-decoration:none;" target="_blank"
                               href="http://www.eventbrite.com/r/etckt">Online Ticketing</a><span style="color:#ddd;"> for </span><a
                        style="color:#ddd; text-decoration:none;" target="_blank"
                        href="https://selfconference.eventbrite.com/?ref=etckt">self.conference 2014</a> <span
                        style="color:#ddd;">powered by</span> <a style="color:#ddd; text-decoration:none;"
                                                                 target="_blank"
                                                                 href="http://www.eventbrite.com?ref=etckt">Eventbrite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="sponsors">
    <div class="color-line">
        <div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
    </div>

    <div class="blue_header">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h1>SPONSORS</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="mid_block">
        <div class="container">
            <div class="row">
                <div class="offset1 span7">

                    <div class="row">
                        <h5>Silver</h5>
                        <ul class="sponsors">
                            <li class="span2">
                                <a href="http://detroitlabs.com">
                                    <img src="img/sponsors/dl.png" class="sponsor_img">
                                </a>
                            </li>
                            <li class="span2">
                                <a href="http://atomicobject.com/">
                                    <img src="img/sponsors/atomic-object.png" class="sponsor_img">
                                </a>
                            </li>
                            <li class="span2">
                                <a href="http://riis.com/">
                                    <img src="img/sponsors/riis.png" class="sponsor_img">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <h5>Water</h5>
                        <ul class="sponsors">
                            <li class="span2">
                                <a href="http://ivorypenguin.com/">
                                    <img src="img/sponsors/iggie.png" class="sponsor_img">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <h5>Media Partners</h5>
                        <ul class="sponsors">
                            <li class="span2">
                                <a href="http://bit.ly/1mR2RIJ">
                                    <img src="img/sponsors/infoq.png" class="sponsor_img">
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <h5>Community</h5>
                        <ul class="sponsors">
                            <li class="span2">
                                <a href="http://pardalislabs.com/">
                                    <img src="img/sponsors/paradalis-labs.png" class="sponsor_img">
                                </a>
                            </li>
                            <li class="span2">
                                <a href="http://maitria.com/">
                                    <img src="img/sponsors/maitria.png" class="sponsor_img">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="span3">
                    <div class="blue_block sponsor_us shadow">
                        <h4>Want to sponsor us?</h4>

                        <p>Want to support the software community and make yourself visible in it at the same time? That's wonderful! Take a look at our <a href="files/2014-sponsor-prospectus.pdf">sponsor prospectus</a>, we'd love to talk to you about it!
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="organizers">
    <div class="color-line">
        <div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
    </div>

    <div class="blue_header">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h1>ORGANIZERS</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="blue_block">
        <div class="container">
            <div class="row">
                <div class="offset1 span5">
                    <img src="img/amber.jpg" class="img-polaroid img-rounded speaker-img pull-left">
                    <h4>Amber Conville</h4>

                    <p>Amber Conville is a mobile developer at <a href="http://detroitlabs.com">Detroit Labs</a>, and has been a software developer for 6 years. She loves code in lots of languages, tdd, craftsmanship, and the software community, and can be found helping out with user groups, conferences, and nerd gatherings whenever possible.</p>

                    <p>Want to email Amber? Do it: <a href="mailto:amber@selfconference.org">amber@selfconference.org</a>. Or say hi on twitter: <a href="http://twitter.com/crebma">@crebma</a></p>
                </div>

                <div class="span5">
                    <img src="img/erika.jpg" class="img-polaroid img-rounded speaker-img pull-left">
                    <h4>Erika Carlson</h4>

                    <p>Erika Carlson was studying clinical psychology in 2011, when she wrote her first line of Python code. She fell in love with programming, decided to change paths, and is now a software developer at <a href="http://detroitlabs.com">Detroit Labs</a>. She is deeply passionate about creating a community of female peers and mentors for women exploring the field of technology for the first time.</p>

                    <p>Erika teaches web development and gives introductory programming presentations at elementary and middle schools. She is passionate about the potential of technology to create positive change in the world, and is working to create more opportunities for technology education in Detroit.</p>

                    <p>Want to email Erika? Do it: <a href="mailto:erika@selfconference.org">erika@selfconference.org</a>. Or say hi on twitter: <a href="http://twitter.com/eacarlson">@eacarlson</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
