<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,900' rel='stylesheet' type='text/css'>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Two days of tech talks to provide you the opportunity to grow, mentor and learn as yourself, a part of the community, and a part of Detroit." />
    <title><%= @title %></title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-responsive.min.css">

    <script type="text/javascript" src="../js/underscore-min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar">

<div class="top_block">
    <header class="jumbotron subhead">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h1><span style="font-weight:900">mobile.</span>self</h1>
                    <ul class="tag-line lead">
                        <li>coming sept of 2015</li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="color-line">
    <div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
</div>

<div>
    <%= yield %>
</div>

<div class="container">
    <div class="row">
      <div class="offset1 span10">
        <a href="http://twitter.com/mobileself"><img src="../../img/twitter.png" class="footer-twitter"></a>
      </div>
    </div>
</div>

<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-48385814-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>

</body>
</html>
