<div class="mid_block">
    <div class="container">
        <div class="row">
            <div class="offset1 span10">
                <h4>working on our first mobile conference!</h4>

                <p>We'll have dates and a call for speakers and info spring/summer of 2015!</p>
            </div>
        </div>
    </div>
</div>

<section id="organizers">
    <div class="color-line">
        <div class="colored_line_a"></div><div class="colored_line_b"></div><div class="colored_line_c"></div><div class="colored_line_d"></div><div class="colored_line_e"></div>
    </div>

    <div class="blue_header">
        <div class="container">
            <div class="row">
                <div class="offset1 span10">
                    <h1>ORGANIZERS</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="blue_block">
        <div class="container">
            <div class="row">
                <div class="offset1 span5">
                    <img src="../img/amber.jpg" class="img-polaroid img-rounded speaker-img pull-left">
                    <h4>Amber Conville</h4>

                    <p>Amber Conville is a developer at <a href="http://testdouble.com">Test Double</a>, and has been a software developer for 6 years. She loves code in lots of languages, tdd, craftsmanship, and the software community, and can be found helping out with user groups, conferences, and nerd gatherings whenever possible.</p>

                    <p>Want to email Amber? Do it: <a href="mailto:amber@selfconference.org">amber@selfconference.org</a>. Or say hi on twitter: <a href="http://twitter.com/crebma">@crebma</a></p>
                </div>

                <div class="span5">
                    <img src="../img/don.jpg" class="img-polaroid img-rounded speaker-img pull-left">
                    <h4>Don Ward</h4>

                    <p>Don Ward has been involved in the local software developer community for the past five years helping organize such events as 1DevDay Detroit 2011 and 2012, MobiDevDay 2010, and CloudDevDay 2010. He also led the Greater Detroit Cloud Computing Users Group for two years with a active membership of 60 people. For the past 2 years, Don has helped lead the <a href="http://goo.gl/ihTkdL">Detroit Google Developers Group</a> with over 450 members participating in monthly meetings on any Google related topic. Don is an avid Google technology enthusiast and enjoys leading the Mobile Team at Quicken Loans during the day.</p>

                    <p>Want to email Don? Do it: <a href="mailto:don@selfconference.org">don@selfconference.org</a>. Or say hi on twitter: <a href="http://twitter.com/donwardpeng">@donwardpeng</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
