<div class="mid_block">
    <div class="container">
        <div class="row">
            <div class="offset1 span10">
                <h4>working on our first mobile conference!</h4>

                <p>We'll have dates and a call for speakers and info very soon!</p>
            </div>
        </div>
    </div>
</div>
